body{
    background-color: blueviolet;
}
body {
    color: white;
  }
  #root {
      display: none;
  }

  #cesar {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }

  .redondear {
    border: 2px solid white;
    border-radius: 12px;
    padding: 5px;
    
  }